.App{
  display: flex;
  flex-direction: column;
}
.banner {
  width: 96vw;
  height: 7vh;
  margin-bottom: 2px;
}
.content {
  display: flex;
  flex-direction: row;
}
.map-container{
  display: flex;
  flex-direction: column;
}
.map {
  width:32vw;
  height:44vh;
  margin: 2px;
  position: relative;
}
.vis {
  display: flex;
  flex-direction: column;
}
.scatterplot-container{
  display: flex;
  flex-direction: row;
}
.scatter1 {
  width: 23vw;
  height: 36vh;
  margin: 2px;
}
.scatter2 {
  width: 40vw;
  height:36vh;
  margin: 2px;
}
.pulse {
  width: 64vw;
  height:52vh;
  margin: 2px;
}
