.App{
  display: flex;
  flex-direction: row;
}
.banner {
  width: 8vw;
  height: 96vh;
}
.content {
  display: flex;
  flex-direction: row;
}
.map-container{
  display: flex;
  flex-direction: column;
}
.map {
  width:38vw;
  height:48vh;
  margin: 2px;
  position: relative;
}
.vis {
  display: flex;
  flex-direction: column;
}
.scatterplot-container{
  display: flex;
  flex-direction: row;
}
.scatter1 {
  width: 20vw;
  height: 36vh;
  margin: 2px;
}
.scatter2 {
  width: 30vw;
  height:36vh;
  margin: 2px;
}
.pulse {
  width: 50vw;
  height:60vh;
  margin: 2px;
}
